<?xml version="1.0" ?>
<world>
    <window width="1080" height="720"/>
    <camera>
        <position x="10" y="10" z="10"/>
        <lookAt x="0" y="0" z="0"/>
        <up x="0" y="1" z="0"/>
        <projection fov="60" near="0.001" far="1000"/>
    </camera>
    <lights>
        <light type="point" posX="0" posY="0" posZ="0"/>
    </lights>
    <group name="SolarSystem">
        <group name="Skybox">
            <transform>
                <scale x="-500.0" y="500.0" z="500.0"/>
            </transform>
            <models>
                <model file="../../objects/sphere.3d">
                    <texture file="../../textures/skybox.jpg"/>
                    <color>
                        <diffuse R="100" G="100" B="150"/>
                        <ambient R="100" G="100" B="150"/>
                        <specular R="0" G="0" B="0"/>
                        <emissive R="0" G="0" B="0"/>
                        <shininess value="0"/>
                    </color>
                </model>
            </models>
        </group>
        <group name="Comet" clickableInfo="../../group_info/comet.txt">
            <transform>
                <translate time="50" align="True">
                    <point x="40" y="0" z="0"/>
                    <point x="24" y="16" z="20"/>
                    <point x="10" y="30" z="10"/>
                    <point x="-6" y="40" z="24"/>
                    <point x="-20" y="20" z="-10"/>
                    <point x="-40" y="0" z="0"/>
                    <point x="-20" y="-20" z="-30"/>
                    <point x="10" y="-30" z="-40"/>
                    <point x="24" y="-16" z="-20"/>
                </translate>
                <scale x="0.6" y="0.6" z="0.6"/>
            </transform>
            <models>
                <model file="../../objects/comet.3d">
                    <color>
                        <diffuse R="200" G="200" B="200"/>
                        <ambient R="50" G="50" B="70"/>
                        <specular R="255" G="255" B="255"/>
                        <emissive R="0" G="0" B="0"/>
                        <shininess value="20"/>
                    </color>
                </model>
            </models>
        </group>
        <group name="Sun" clickableInfo="../../group_info/sun.txt">
            <transform>
                <rotate time="100" x="0" y="1" z="0"/>
                <scale x="3" y="3" z="3"/>
            </transform>
            <models>
                <model file="../../objects/sphere.3d">
                    <texture file="../../textures/sun.jpg"/>
                    <color>
                        <diffuse R="200" G="200" B="200"/>
                        <ambient R="200" G="200" B="200"/>
                        <specular R="200" G="200" B="200"/>
                        <emissive R="200" G="200" B="200"/>
                        <shininess value="0"/>
                    </color>
                </model>
            </models>
        </group>
        <group name="Mercury" clickableInfo="../../group_info/mercury.txt">
            <transform>
                <rotate time="16.60839071449459" x="0" y="1" z="0"/>
                <translate x="10" y="0" z="0"/>
                <scale x="0.04" y="0.04" z="0.04"/>
            </transform>
            <models>
                <model file="../../objects/sphere.3d">
                    <texture file="../../textures/mercury.jpg"/>
                    <color>
                        <diffuse R="200" G="200" B="200"/>
                        <ambient R="50" G="50" B="70"/>
                        <specular R="255" G="255" B="255"/>
                        <emissive R="0" G="0" B="0"/>
                        <shininess value="20"/>
                    </color>
                </model>
            </models>
        </group>
        <group name="Venus" clickableInfo="../../group_info/venus.txt">
            <transform>
                <rotate time="29.748369583205037" x="0" y="1" z="0"/>
                <translate x="15" y="0" z="0"/>
                <scale x="0.1" y="0.1" z="0.1"/>
            </transform>
            <models>
                <model file="../../objects/sphere.3d">
                    <texture file="../../textures/venus.jpg"/>
                    <color>
                        <diffuse R="200" G="200" B="200"/>
                        <ambient R="50" G="50" B="70"/>
                        <specular R="255" G="255" B="255"/>
                        <emissive R="0" G="0" B="0"/>
                        <shininess value="20"/>
                    </color>
                </model>
            </models>
        </group>
        <group name="Earth" clickableInfo="../../group_info/earth.txt">
            <transform>
                <rotate time="15.021820908885065" x="0" y="1" z="0"/>
                <translate x="20" y="0" z="0"/>
                <scale x="0.11" y="0.11" z="0.11"/>
            </transform>
            <models>
                <model file="../../objects/sphere.3d">
                    <texture file="../../textures/earth.jpg"/>
                    <color>
                        <diffuse R="200" G="200" B="200"/>
                        <ambient R="50" G="50" B="70"/>
                        <specular R="255" G="255" B="255"/>
                        <emissive R="0" G="0" B="0"/>
                        <shininess value="20"/>
                    </color>
                </model>
            </models>
            <group name="Earth_Moon_1" clickableInfo="../../group_info/earth_moon.txt">
                <transform>
                    <rotate time="15.66534074991345" x="0" y="1" z="0"/>
                    <translate x="2.933120732195434" y="0.18786355057426907" z="0"/>
                    <scale x="0.030603946986465874" y="0.030603946986465874" z="0.030603946986465874"/>
                </transform>
                <models>
                    <model file="../../objects/sphere.3d">
                        <texture file="../../textures/moon.jpg"/>
                        <color>
                            <diffuse R="200" G="200" B="200"/>
                            <ambient R="50" G="50" B="70"/>
                            <specular R="255" G="255" B="255"/>
                            <emissive R="0" G="0" B="0"/>
                            <shininess value="20"/>
                        </color>
                    </model>
                </models>
            </group>
        </group>
        <group name="Mars" clickableInfo="../../group_info/mars.txt">
            <transform>
                <rotate time="29.32967571896803" x="0" y="1" z="0"/>
                <translate x="27" y="0" z="0"/>
                <scale x="0.06" y="0.06" z="0.06"/>
            </transform>
            <models>
                <model file="../../objects/sphere.3d">
                    <texture file="../../textures/mars.jpg"/>
                    <color>
                        <diffuse R="200" G="200" B="200"/>
                        <ambient R="50" G="50" B="70"/>
                        <specular R="255" G="255" B="255"/>
                        <emissive R="0" G="0" B="0"/>
                        <shininess value="20"/>
                    </color>
                </model>
            </models>
            <group name="Mars_Moon_1">
                <transform>
                    <rotate time="14.078833450728608" x="0" y="1" z="0"/>
                    <translate x="2.2106860872371326" y="-0.2636425329347669" z="0"/>
                    <scale x="0.03804891550932047" y="0.03804891550932047" z="0.03804891550932047"/>
                </transform>
                <models>
                    <model file="../../objects/sphere.3d">
                        <texture file="../../textures/moon_low_res.jpg"/>
                        <color>
                            <diffuse R="200" G="200" B="200"/>
                            <ambient R="50" G="50" B="70"/>
                            <specular R="255" G="255" B="255"/>
                            <emissive R="0" G="0" B="0"/>
                            <shininess value="20"/>
                        </color>
                    </model>
                </models>
            </group>
            <group name="Mars_Moon_2">
                <transform>
                    <rotate time="29.257497062395476" x="0" y="1" z="0"/>
                    <translate x="1.8728261822324577" y="0.015223770978497586" z="0"/>
                    <scale x="0.029039285728891487" y="0.029039285728891487" z="0.029039285728891487"/>
                </transform>
                <models>
                    <model file="../../objects/sphere.3d">
                        <texture file="../../textures/moon_low_res.jpg"/>
                        <color>
                            <diffuse R="200" G="200" B="200"/>
                            <ambient R="50" G="50" B="70"/>
                            <specular R="255" G="255" B="255"/>
                            <emissive R="0" G="0" B="0"/>
                            <shininess value="20"/>
                        </color>
                    </model>
                </models>
            </group>
        </group>
        <group name="Jupiter" clickableInfo="../../group_info/jupiter.txt">
            <transform>
                <rotate time="18.783025933478047" x="0" y="1" z="0"/>
                <translate x="45" y="0" z="0"/>
                <scale x="1.3" y="1.3" z="1.3"/>
            </transform>
            <models>
                <model file="../../objects/sphere.3d">
                    <texture file="../../textures/jupiter.jpg"/>
                    <color>
                        <diffuse R="200" G="200" B="200"/>
                        <ambient R="50" G="50" B="70"/>
                        <specular R="255" G="255" B="255"/>
                        <emissive R="0" G="0" B="0"/>
                        <shininess value="20"/>
                    </color>
                </model>
            </models>
            <group name="Jupiter_Moon_1">
                <transform>
                    <rotate time="6.98840222809933" x="0" y="1" z="0"/>
                    <translate x="3.1385792167745503" y="-0.07315824459007958" z="0"/>
                    <scale x="0.03597262479021861" y="0.03597262479021861" z="0.03597262479021861"/>
                </transform>
                <models>
                    <model file="../../objects/sphere.3d">
                        <texture file="../../textures/moon_low_res.jpg"/>
                        <color>
                            <diffuse R="200" G="200" B="200"/>
                            <ambient R="50" G="50" B="70"/>
                            <specular R="255" G="255" B="255"/>
                            <emissive R="0" G="0" B="0"/>
                            <shininess value="20"/>
                        </color>
                    </model>
                </models>
            </group>
            <group name="Jupiter_Moon_2">
                <transform>
                    <rotate time="24.986819706364926" x="0" y="1" z="0"/>
                    <translate x="2.262330092511125" y="0.48941700350717554" z="0"/>
                    <scale x="0.024214648054885338" y="0.024214648054885338" z="0.024214648054885338"/>
                </transform>
                <models>
                    <model file="../../objects/sphere.3d">
                        <texture file="../../textures/moon_low_res.jpg"/>
                        <color>
                            <diffuse R="200" G="200" B="200"/>
                            <ambient R="50" G="50" B="70"/>
                            <specular R="255" G="255" B="255"/>
                            <emissive R="0" G="0" B="0"/>
                            <shininess value="20"/>
                        </color>
                    </model>
                </models>
            </group>
            <group name="Jupiter_Moon_3">
                <transform>
                    <rotate time="13.023330550817626" x="0" y="1" z="0"/>
                    <translate x="2.0120222215031456" y="0.19990789992515334" z="0"/>
                    <scale x="0.038204201806191954" y="0.038204201806191954" z="0.038204201806191954"/>
                </transform>
                <models>
                    <model file="../../objects/sphere.3d">
                        <texture file="../../textures/moon_low_res.jpg"/>
                        <color>
                            <diffuse R="200" G="200" B="200"/>
                            <ambient R="50" G="50" B="70"/>
                            <specular R="255" G="255" B="255"/>
                            <emissive R="0" G="0" B="0"/>
                            <shininess value="20"/>
                        </color>
                    </model>
                </models>
            </group>
            <group name="Jupiter_Moon_4">
                <transform>
                    <rotate time="25.345449449470244" x="0" y="1" z="0"/>
                    <translate x="1.7900570032933194" y="-0.14355186514231943" z="0"/>
                    <scale x="0.0425236764529276" y="0.0425236764529276" z="0.0425236764529276"/>
                </transform>
                <models>
                    <model file="../../objects/sphere.3d">
                        <texture file="../../textures/moon_low_res.jpg"/>
                        <color>
                            <diffuse R="200" G="200" B="200"/>
                            <ambient R="50" G="50" B="70"/>
                            <specular R="255" G="255" B="255"/>
                            <emissive R="0" G="0" B="0"/>
                            <shininess value="20"/>
                        </color>
                    </model>
                </models>
            </group>
        </group>
        <group name="Saturn" clickableInfo="../../group_info/saturn.txt">
            <transform>
                <rotate time="10.579875971557238" x="0" y="1" z="0"/>
                <translate x="60" y="0" z="0"/>
                <scale x="0.7" y="0.7" z="0.7"/>
            </transform>
            <models>
                <model file="../../objects/sphere.3d">
                    <texture file="../../textures/saturn.jpg"/>
                    <color>
                        <diffuse R="200" G="200" B="200"/>
                        <ambient R="50" G="50" B="70"/>
                        <specular R="255" G="255" B="255"/>
                        <emissive R="0" G="0" B="0"/>
                        <shininess value="20"/>
                    </color>
                </model>
            </models>
            <group name="Saturn_Moon_1">
                <transform>
                    <rotate time="7.801727919205639" x="0" y="1" z="0"/>
                    <translate x="3.1076390300991834" y="-0.3711729603845816" z="0"/>
                    <scale x="0.0360439752646369" y="0.0360439752646369" z="0.0360439752646369"/>
                </transform>
                <models>
                    <model file="../../objects/sphere.3d">
                        <texture file="../../textures/moon_low_res.jpg"/>
                        <color>
                            <diffuse R="200" G="200" B="200"/>
                            <ambient R="50" G="50" B="70"/>
                            <specular R="255" G="255" B="255"/>
                            <emissive R="0" G="0" B="0"/>
                            <shininess value="20"/>
                        </color>
                    </model>
                </models>
            </group>
            <group name="Saturn_Moon_2">
                <transform>
                    <rotate time="8.309232378892736" x="0" y="1" z="0"/>
                    <translate x="2.7211213932555287" y="-0.4308805648845536" z="0"/>
                    <scale x="0.020955268798950225" y="0.020955268798950225" z="0.020955268798950225"/>
                </transform>
                <models>
                    <model file="../../objects/sphere.3d">
                        <texture file="../../textures/moon_low_res.jpg"/>
                        <color>
                            <diffuse R="200" G="200" B="200"/>
                            <ambient R="50" G="50" B="70"/>
                            <specular R="255" G="255" B="255"/>
                            <emissive R="0" G="0" B="0"/>
                            <shininess value="20"/>
                        </color>
                    </model>
                </models>
            </group>
            <group name="Saturn_Moon_3">
                <transform>
                    <rotate time="7.122818971823502" x="0" y="1" z="0"/>
                    <translate x="2.0971887860131515" y="-0.4517669600208791" z="0"/>
                    <scale x="0.023994499324596928" y="0.023994499324596928" z="0.023994499324596928"/>
                </transform>
                <models>
                    <model file="../../objects/sphere.3d">
                        <texture file="../../textures/moon_low_res.jpg"/>
                        <color>
                            <diffuse R="200" G="200" B="200"/>
                            <ambient R="50" G="50" B="70"/>
                            <specular R="255" G="255" B="255"/>
                            <emissive R="0" G="0" B="0"/>
                            <shininess value="20"/>
                        </color>
                    </model>
                </models>
            </group>
            <group name="Saturn_Moon_4">
                <transform>
                    <rotate time="4.87193782225172" x="0" y="1" z="0"/>
                    <translate x="1.8791998902853646" y="-0.34414469608759835" z="0"/>
                    <scale x="0.04476052860653307" y="0.04476052860653307" z="0.04476052860653307"/>
                </transform>
                <models>
                    <model file="../../objects/sphere.3d">
                        <texture file="../../textures/moon_low_res.jpg"/>
                        <color>
                            <diffuse R="200" G="200" B="200"/>
                            <ambient R="50" G="50" B="70"/>
                            <specular R="255" G="255" B="255"/>
                            <emissive R="0" G="0" B="0"/>
                            <shininess value="20"/>
                        </color>
                    </model>
                </models>
            </group>
            <group name="Saturn_Moon_5">
                <transform>
                    <rotate time="14.214649163661928" x="0" y="1" z="0"/>
                    <translate x="2.2100347805498135" y="0.3763709299388155" z="0"/>
                    <scale x="0.04434229312717107" y="0.04434229312717107" z="0.04434229312717107"/>
                </transform>
                <models>
                    <model file="../../objects/sphere.3d">
                        <texture file="../../textures/moon_low_res.jpg"/>
                        <color>
                            <diffuse R="200" G="200" B="200"/>
                            <ambient R="50" G="50" B="70"/>
                            <specular R="255" G="255" B="255"/>
                            <emissive R="0" G="0" B="0"/>
                            <shininess value="20"/>
                        </color>
                    </model>
                </models>
            </group>
            <group name="ring">
                <transform>
                    <rotate angle="35" x="1" y="0" z="0"/>
                    <scale x="0.7" y="0.1" z="0.7"/>
                </transform>
                <models>
                    <model file="../../objects/torus.3d">
                        <texture file="../../textures/ring.jpg"/>
                        <color>
                            <diffuse R="200" G="200" B="200"/>
                            <ambient R="50" G="50" B="70"/>
                            <specular R="255" G="255" B="255"/>
                            <emissive R="0" G="0" B="0"/>
                            <shininess value="20"/>
                        </color>
                    </model>
                </models>
            </group>
        </group>
        <group name="Uranus" clickableInfo="../../group_info/uranus.txt">
            <transform>
                <rotate time="10.229237107064169" x="0" y="1" z="0"/>
                <translate x="75" y="0" z="0"/>
                <scale x="0.42" y="0.42" z="0.42"/>
            </transform>
            <models>
                <model file="../../objects/sphere.3d">
                    <texture file="../../textures/uranus.jpg"/>
                    <color>
                        <diffuse R="200" G="200" B="200"/>
                        <ambient R="50" G="50" B="70"/>
                        <specular R="255" G="255" B="255"/>
                        <emissive R="0" G="0" B="0"/>
                        <shininess value="20"/>
                    </color>
                </model>
            </models>
            <group name="Uranus_Moon_1">
                <transform>
                    <rotate time="19.25848522554182" x="0" y="1" z="0"/>
                    <translate x="1.5703918150976923" y="-0.12189211354101703" z="0"/>
                    <scale x="0.043289155493210774" y="0.043289155493210774" z="0.043289155493210774"/>
                </transform>
                <models>
                    <model file="../../objects/sphere.3d">
                        <texture file="../../textures/moon_low_res.jpg"/>
                        <color>
                            <diffuse R="200" G="200" B="200"/>
                            <ambient R="50" G="50" B="70"/>
                            <specular R="255" G="255" B="255"/>
                            <emissive R="0" G="0" B="0"/>
                            <shininess value="20"/>
                        </color>
                    </model>
                </models>
            </group>
            <group name="Uranus_Moon_2">
                <transform>
                    <rotate time="22.967127919168526" x="0" y="1" z="0"/>
                    <translate x="3.0343113321700566" y="-0.13823736875428605" z="0"/>
                    <scale x="0.026078821268662154" y="0.026078821268662154" z="0.026078821268662154"/>
                </transform>
                <models>
                    <model file="../../objects/sphere.3d">
                        <texture file="../../textures/moon_low_res.jpg"/>
                        <color>
                            <diffuse R="200" G="200" B="200"/>
                            <ambient R="50" G="50" B="70"/>
                            <specular R="255" G="255" B="255"/>
                            <emissive R="0" G="0" B="0"/>
                            <shininess value="20"/>
                        </color>
                    </model>
                </models>
            </group>
            <group name="Uranus_Moon_3">
                <transform>
                    <rotate time="24.61846967631611" x="0" y="1" z="0"/>
                    <translate x="2.156057623048408" y="-0.4561361575438847" z="0"/>
                    <scale x="0.04106073137597961" y="0.04106073137597961" z="0.04106073137597961"/>
                </transform>
                <models>
                    <model file="../../objects/sphere.3d">
                        <texture file="../../textures/moon_low_res.jpg"/>
                        <color>
                            <diffuse R="200" G="200" B="200"/>
                            <ambient R="50" G="50" B="70"/>
                            <specular R="255" G="255" B="255"/>
                            <emissive R="0" G="0" B="0"/>
                            <shininess value="20"/>
                        </color>
                    </model>
                </models>
            </group>
        </group>
        <group name="Neptune" clickableInfo="../../group_info/neptune.txt">
            <transform>
                <rotate time="43.57948451980221" x="0" y="1" z="0"/>
                <translate x="90" y="0" z="0"/>
                <scale x="0.41" y="0.41" z="0.41"/>
            </transform>
            <models>
                <model file="../../objects/sphere.3d">
                    <texture file="../../textures/neptune.jpg"/>
                    <color>
                        <diffuse R="200" G="200" B="200"/>
                        <ambient R="50" G="50" B="70"/>
                        <specular R="255" G="255" B="255"/>
                        <emissive R="0" G="0" B="0"/>
                        <shininess value="20"/>
                    </color>
                </model>
            </models>
            <group name="Neptune_Moon_1">
                <transform>
                    <rotate time="1.450049958870031" x="0" y="1" z="0"/>
                    <translate x="2.2342641315812237" y="0.44394064091228624" z="0"/>
                    <scale x="0.029148068725346865" y="0.029148068725346865" z="0.029148068725346865"/>
                </transform>
                <models>
                    <model file="../../objects/sphere.3d">
                        <texture file="../../textures/moon_low_res.jpg"/>
                        <color>
                            <diffuse R="200" G="200" B="200"/>
                            <ambient R="50" G="50" B="70"/>
                            <specular R="255" G="255" B="255"/>
                            <emissive R="0" G="0" B="0"/>
                            <shininess value="20"/>
                        </color>
                    </model>
                </models>
            </group>
            <group name="Neptune_Moon_2">
                <transform>
                    <rotate time="4.53654650105861" x="0" y="1" z="0"/>
                    <translate x="3.199952957548647" y="0.13969621718309766" z="0"/>
                    <scale x="0.021190985421758183" y="0.021190985421758183" z="0.021190985421758183"/>
                </transform>
                <models>
                    <model file="../../objects/sphere.3d">
                        <texture file="../../textures/moon_low_res.jpg"/>
                        <color>
                            <diffuse R="200" G="200" B="200"/>
                            <ambient R="50" G="50" B="70"/>
                            <specular R="255" G="255" B="255"/>
                            <emissive R="0" G="0" B="0"/>
                            <shininess value="20"/>
                        </color>
                    </model>
                </models>
            </group>
        </group>
        <group name="AsteroidBelt_32_38">
            <group name="Asteroid_0">
                <transform>
                    <rotate time="48.60504908659481" x="0" y="1" z="0"/>
                    <translate x="33.96352773877157" y="0.8252115570486884" z="0"/>
                    <scale x="0.012578120724391021" y="0.012578120724391021" z="0.012578120724391021"/>
                </transform>
                <models>
                    <model file="../../objects/sphere.3d">
                        <texture file="../../textures/moon_low_res.jpg"/>
                        <color>
                            <diffuse R="200" G="200" B="200"/>
                            <ambient R="50" G="50" B="70"/>
                            <specular R="255" G="255" B="255"/>
                            <emissive R="0" G="0" B="0"/>
                            <shininess value="20"/>
                        </color>
                    </model>
                </models>
            </group>
            <group name="Asteroid_1">
                <transform>
                    <rotate time="7.639446575612224" x="0" y="1" z="0"/>
                    <translate x="34.44740385841815" y="1.050489826374514" z="0"/>
                    <scale x="0.01648607783439878" y="0.01648607783439878" z="0.01648607783439878"/>
                </transform>
                <models>
                    <model file="../../objects/sphere.3d">
                        <texture file="../../textures/moon_low_res.jpg"/>
                        <color>
                            <diffuse R="200" G="200" B="200"/>
                            <ambient R="50" G="50" B="70"/>
                            <specular R="255" G="255" B="255"/>
                            <emissive R="0" G="0" B="0"/>
                            <shininess value="20"/>
                        </color>
                    </model>
                </models>
            </group>
            <group name="Asteroid_2">
                <transform>
                    <rotate time="48.80454546164173" x="0" y="1" z="0"/>
                    <translate x="37.39997872260721" y="-1.6560495791084104" z="0"/>
                    <scale x="0.016948654282489175" y="0.016948654282489175" z="0.016948654282489175"/>
                </transform>
                <models>
                    <model file="../../objects/sphere.3d">
                        <texture file="../../textures/moon_low_res.jpg"/>
                        <color>
                            <diffuse R="200" G="200" B="200"/>
                            <ambient R="50" G="50" B="70"/>
                            <specular R="255" G="255" B="255"/>
                            <emissive R="0" G="0" B="0"/>
                            <shininess value="20"/>
                        </color>
                    </model>
                </models>
            </group>
            <group name="Asteroid_3">
                <transform>
                    <rotate time="33.21202077406103" x="0" y="1" z="0"/>
                    <translate x="33.72469816429245" y="-1.262492565650497" z="0"/>
                    <scale x="0.01621715232411538" y="0.01621715232411538" z="0.01621715232411538"/>
                </transform>
                <models>
                    <model file="../../objects/sphere.3d">
                        <texture file="../../textures/moon_low_res.jpg"/>
                        <color>
                            <diffuse R="200" G="200" B="200"/>
                            <ambient R="50" G="50" B="70"/>
                            <specular R="255" G="255" B="255"/>
                            <emissive R="0" G="0" B="0"/>
                            <shininess value="20"/>
                        </color>
                    </model>
                </models>
            </group>
            <group name="Asteroid_4">
                <transform>
                    <rotate time="33.41069755440977" x="0" y="1" z="0"/>
                    <translate x="37.531503383167276" y="0.5824483510498148" z="0"/>
                    <scale x="0.005607687376428749" y="0.005607687376428749" z="0.005607687376428749"/>
                </transform>
                <models>
                    <model file="../../objects/sphere.3d">
                        <texture file="../../textures/moon_low_res.jpg"/>
                        <color>
                            <diffuse R="200" G="200" B="200"/>
                            <ambient R="50" G="50" B="70"/>
                            <specular R="255" G="255" B="255"/>
                            <emissive R="0" G="0" B="0"/>
                            <shininess value="20"/>
                        </color>
                    </model>
                </models>
            </group>
            <group name="Asteroid_5">
                <transform>
                    <rotate time="7.690644104276368" x="0" y="1" z="0"/>
                    <translate x="37.677464457066996" y="-0.922942144935937" z="0"/>
                    <scale x="0.006582500648377021" y="0.006582500648377021" z="0.006582500648377021"/>
                </transform>
                <models>
                    <model file="../../objects/sphere.3d">
                        <texture file="../../textures/moon_low_res.jpg"/>
                        <color>
                            <diffuse R="200" G="200" B="200"/>
                            <ambient R="50" G="50" B="70"/>
                            <specular R="255" G="255" B="255"/>
                            <emissive R="0" G="0" B="0"/>
                            <shininess value="20"/>
                        </color>
                    </model>
                </models>
            </group>
            <group name="Asteroid_6">
                <transform>
                    <rotate time="48.10638198583925" x="0" y="1" z="0"/>
                    <translate x="34.835927004378476" y="0.5336824767675306" z="0"/>
                    <scale x="0.01425868830593464" y="0.01425868830593464" z="0.01425868830593464"/>
                </transform>
                <models>
                    <model file="../../objects/sphere.3d">
                        <texture file="../../textures/moon_low_res.jpg"/>
                        <color>
                            <diffuse R="200" G="200" B="200"/>
                            <ambient R="50" G="50" B="70"/>
                            <specular R="255" G="255" B="255"/>
                            <emissive R="0" G="0" B="0"/>
                            <shininess value="20"/>
                        </color>
                    </model>
                </models>
            </group>
            <group name="Asteroid_7">
                <transform>
                    <rotate time="14.650323262660953" x="0" y="1" z="0"/>
                    <translate x="35.42473960412002" y="-1.8003987242911292" z="0"/>
                    <scale x="0.015595457878638103" y="0.015595457878638103" z="0.015595457878638103"/>
                </transform>
                <models>
                    <model file="../../objects/sphere.3d">
                        <texture file="../../textures/moon_low_res.jpg"/>
                        <color>
                            <diffuse R="200" G="200" B="200"/>
                            <ambient R="50" G="50" B="70"/>
                            <specular R="255" G="255" B="255"/>
                            <emissive R="0" G="0" B="0"/>
                            <shininess value="20"/>
                        </color>
                    </model>
                </models>
            </group>
            <group name="Asteroid_8">
                <transform>
                    <rotate time="28.411474644736824" x="0" y="1" z="0"/>
                    <translate x="34.917649680243954" y="0.43346442094097837" z="0"/>
                    <scale x="0.01599571250170025" y="0.01599571250170025" z="0.01599571250170025"/>
                </transform>
                <models>
                    <model file="../../objects/sphere.3d">
                        <texture file="../../textures/moon_low_res.jpg"/>
                        <color>
                            <diffuse R="200" G="200" B="200"/>
                            <ambient R="50" G="50" B="70"/>
                            <specular R="255" G="255" B="255"/>
                            <emissive R="0" G="0" B="0"/>
                            <shininess value="20"/>
                        </color>
                    </model>
                </models>
            </group>
            <group name="Asteroid_9">
                <transform>
                    <rotate time="43.46052077615954" x="0" y="1" z="0"/>
                    <translate x="34.31228170885076" y="-0.4980493148292817" z="0"/>
                    <scale x="0.00943371035189942" y="0.00943371035189942" z="0.00943371035189942"/>
                </transform>
                <models>
                    <model file="../../objects/sphere.3d">
                        <texture file="../../textures/moon_low_res.jpg"/>
                        <color>
                            <diffuse R="200" G="200" B="200"/>
                            <ambient R="50" G="50" B="70"/>
                            <specular R="255" G="255" B="255"/>
                            <emissive R="0" G="0" B="0"/>
                            <shininess value="20"/>
                        </color>
                    </model>
                </models>
            </group>
        </group>
        <group name="AsteroidBelt_120_140">
            <group name="Asteroid_0">
                <transform>
                    <rotate time="41.987799376793305" x="0" y="1" z="0"/>
                    <translate x="122.04490634809501" y="-1.5293296198383826" z="0"/>
                    <scale x="0.0193099714414452" y="0.0193099714414452" z="0.0193099714414452"/>
                </transform>
                <models>
                    <model file="../../objects/sphere.3d">
                        <texture file="../../textures/moon_low_res.jpg"/>
                        <color>
                            <diffuse R="200" G="200" B="200"/>
                            <ambient R="50" G="50" B="70"/>
                            <specular R="255" G="255" B="255"/>
                            <emissive R="0" G="0" B="0"/>
                            <shininess value="20"/>
                        </color>
                    </model>
                </models>
            </group>
            <group name="Asteroid_1">
                <transform>
                    <rotate time="44.55346550843253" x="0" y="1" z="0"/>
                    <translate x="122.51544411851792" y="1.2246372669224201" z="0"/>
                    <scale x="0.012714492918513242" y="0.012714492918513242" z="0.012714492918513242"/>
                </transform>
                <models>
                    <model file="../../objects/sphere.3d">
                        <texture file="../../textures/moon_low_res.jpg"/>
                        <color>
                            <diffuse R="200" G="200" B="200"/>
                            <ambient R="50" G="50" B="70"/>
                            <specular R="255" G="255" B="255"/>
                            <emissive R="0" G="0" B="0"/>
                            <shininess value="20"/>
                        </color>
                    </model>
                </models>
            </group>
            <group name="Asteroid_2">
                <transform>
                    <rotate time="27.226907753942246" x="0" y="1" z="0"/>
                    <translate x="136.17823811425947" y="-1.1780200456267709" z="0"/>
                    <scale x="0.01898701842202985" y="0.01898701842202985" z="0.01898701842202985"/>
                </transform>
                <models>
                    <model file="../../objects/sphere.3d">
                        <texture file="../../textures/moon_low_res.jpg"/>
                        <color>
                            <diffuse R="200" G="200" B="200"/>
                            <ambient R="50" G="50" B="70"/>
                            <specular R="255" G="255" B="255"/>
                            <emissive R="0" G="0" B="0"/>
                            <shininess value="20"/>
                        </color>
                    </model>
                </models>
            </group>
            <group name="Asteroid_3">
                <transform>
                    <rotate time="49.12242872852609" x="0" y="1" z="0"/>
                    <translate x="137.52899154443747" y="1.7194597933285314" z="0"/>
                    <scale x="0.012881998890047465" y="0.012881998890047465" z="0.012881998890047465"/>
                </transform>
                <models>
                    <model file="../../objects/sphere.3d">
                        <texture file="../../textures/moon_low_res.jpg"/>
                        <color>
                            <diffuse R="200" G="200" B="200"/>
                            <ambient R="50" G="50" B="70"/>
                            <specular R="255" G="255" B="255"/>
                            <emissive R="0" G="0" B="0"/>
                            <shininess value="20"/>
                        </color>
                    </model>
                </models>
            </group>
            <group name="Asteroid_4">
                <transform>
                    <rotate time="0.9446028016248331" x="0" y="1" z="0"/>
                    <translate x="130.08179089245496" y="-0.15257127319286434" z="0"/>
                    <scale x="0.005401590962497552" y="0.005401590962497552" z="0.005401590962497552"/>
                </transform>
                <models>
                    <model file="../../objects/sphere.3d">
                        <texture file="../../textures/moon_low_res.jpg"/>
                        <color>
                            <diffuse R="200" G="200" B="200"/>
                            <ambient R="50" G="50" B="70"/>
                            <specular R="255" G="255" B="255"/>
                            <emissive R="0" G="0" B="0"/>
                            <shininess value="20"/>
                        </color>
                    </model>
                </models>
            </group>
            <group name="Asteroid_5">
                <transform>
                    <rotate time="16.252558641521958" x="0" y="1" z="0"/>
                    <translate x="133.04681305689243" y="0.5092741689857743" z="0"/>
                    <scale x="0.018103622827216895" y="0.018103622827216895" z="0.018103622827216895"/>
                </transform>
                <models>
                    <model file="../../objects/sphere.3d">
                        <texture file="../../textures/moon_low_res.jpg"/>
                        <color>
                            <diffuse R="200" G="200" B="200"/>
                            <ambient R="50" G="50" B="70"/>
                            <specular R="255" G="255" B="255"/>
                            <emissive R="0" G="0" B="0"/>
                            <shininess value="20"/>
                        </color>
                    </model>
                </models>
            </group>
            <group name="Asteroid_6">
                <transform>
                    <rotate time="49.374007205813605" x="0" y="1" z="0"/>
                    <translate x="126.41129996372133" y="1.6364718977391988" z="0"/>
                    <scale x="0.012398048140353326" y="0.012398048140353326" z="0.012398048140353326"/>
                </transform>
                <models>
                    <model file="../../objects/sphere.3d">
                        <texture file="../../textures/moon_low_res.jpg"/>
                        <color>
                            <diffuse R="200" G="200" B="200"/>
                            <ambient R="50" G="50" B="70"/>
                            <specular R="255" G="255" B="255"/>
                            <emissive R="0" G="0" B="0"/>
                            <shininess value="20"/>
                        </color>
                    </model>
                </models>
            </group>
            <group name="Asteroid_7">
                <transform>
                    <rotate time="3.9246571735938485" x="0" y="1" z="0"/>
                    <translate x="132.22713139889893" y="-1.3539727045006016" z="0"/>
                    <scale x="0.018969439079862406" y="0.018969439079862406" z="0.018969439079862406"/>
                </transform>
                <models>
                    <model file="../../objects/sphere.3d">
                        <texture file="../../textures/moon_low_res.jpg"/>
                        <color>
                            <diffuse R="200" G="200" B="200"/>
                            <ambient R="50" G="50" B="70"/>
                            <specular R="255" G="255" B="255"/>
                            <emissive R="0" G="0" B="0"/>
                            <shininess value="20"/>
                        </color>
                    </model>
                </models>
            </group>
            <group name="Asteroid_8">
                <transform>
                    <rotate time="8.241377550841356" x="0" y="1" z="0"/>
                    <translate x="134.62952785272756" y="-1.6111991986501195" z="0"/>
                    <scale x="0.011780913048250664" y="0.011780913048250664" z="0.011780913048250664"/>
                </transform>
                <models>
                    <model file="../../objects/sphere.3d">
                        <texture file="../../textures/moon_low_res.jpg"/>
                        <color>
                            <diffuse R="200" G="200" B="200"/>
                            <ambient R="50" G="50" B="70"/>
                            <specular R="255" G="255" B="255"/>
                            <emissive R="0" G="0" B="0"/>
                            <shininess value="20"/>
                        </color>
                    </model>
                </models>
            </group>
            <group name="Asteroid_9">
                <transform>
                    <rotate time="17.844876170767236" x="0" y="1" z="0"/>
                    <translate x="123.47831311690064" y="1.4712961447019595" z="0"/>
                    <scale x="0.005730934099398214" y="0.005730934099398214" z="0.005730934099398214"/>
                </transform>
                <models>
                    <model file="../../objects/sphere.3d">
                        <texture file="../../textures/moon_low_res.jpg"/>
                        <color>
                            <diffuse R="200" G="200" B="200"/>
                            <ambient R="50" G="50" B="70"/>
                            <specular R="255" G="255" B="255"/>
                            <emissive R="0" G="0" B="0"/>
                            <shininess value="20"/>
                        </color>
                    </model>
                </models>
            </group>
        </group>
    </group>
</world>
